{% extends 'ApplicationSonataUserBundle::layout.html.twig' %}
{% block h1 %}Change your password{% endblock %}
{% block user_content %}
<form action="{{ path('castlestory_api_change_password') }}" method="POST" class="two-columns" novalidate>
  
  {% if app.session.hasFlash('errors') %}
  <div class="flash-notice errors">
    <span>{{ app.session.flash('errors')}}</span>
  </div>
  {% endif %}
  
  <fieldset>
    <div class="field">
      <div class="label">{{ form_label(form.current_password) }}</div>
      {{ form_widget(form.current_password) }}
      {{ form_errors(form.current_password) }}
    </div>

    <div class="field">
      <div class="label">{{ form_label(form.new.first) }}</div>
      {{ form_widget(form.new.first) }}
      {{ form_errors(form.new.first) }}
    </div>

    <div class="field">
      <div class="label">{{ form_label(form.new.second) }}</div>
      {{ form_widget(form.new.second) }}
      {{ form_errors(form.new.second) }}
    </div>

    {{ form_rest(form) }}
    <input type="submit" name="submit" value="Save" />
  </fieldset>
  
</form>
{% endblock %}